$menu-header-padding: 2rem;
$menu-item-margin: 2rem;
$line-distance: 2rem;

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $menu-header-padding 0;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      color: #111;
      margin-right: $menu-item-margin;
      cursor: pointer;
      font-family: Inter;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.13rem;
      text-transform: uppercase;
      transition: color 0.3s;
      position: relative;

        &:hover {
          color: #ed553b;
        }

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #111;

        &.active,
        &:hover,
        &:active {
          color: #ed553b;
        }
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1rem;
        width: 1px;
        background-color: #d1d1d1;
      }
    }
  }

  @media (max-width: 768px) {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin-right: 0;
      margin-bottom: $menu-item-margin;
      width: 100%;

      &:not(:last-child)::after {
        display: none;
      }
    }
  }
}
