$rem-base: 16px;

.book-container {
  display: flex;
  gap: 2.5rem;
  padding: 1.25rem 2.5rem;
  background: linear-gradient(41deg, #fbeeee 0%, #f7fffe 100%);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.book {
  position: relative;

  @media screen and (max-width: 768px) {
    overflow: hidden;
  }

  & img {
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../images/MaskGroup.png);
    background-repeat: no-repeat;
    width: 22.5rem;
    height: 14.0625rem;
    top: 18.375rem;
    left: 3.125rem;

    @media screen and (max-width: 768px) {
      top: 12.375rem;
      left: 2.125rem;
    }
  }
}

.details {
  padding: 6.25rem 2.5rem;

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 3rem;
    text-transform: capitalize;
    color: #393280;
    padding-bottom: 2.5rem;
  }

  &__author {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0.8125rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #888;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: #ed553b;
      width: 6.3125rem;
      height: 0.125rem;
      bottom: 1.5625rem;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #393280;
    padding-top: 1.25rem;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 208%;
    letter-spacing: 0.00125em;
    color: #7a7a7a;
    padding-top: 0.9375rem;
  }

  &__price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.4375rem;
    letter-spacing: 0.00125em;
    text-transform: capitalize;
    color: #ed553b;
    padding-top: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 2.5rem;
      padding-bottom: 1.875rem;
    }

    &__author {
      font-size: 0.75rem;
      &::before {
        width: 5.625rem;
        bottom: 1.125rem;
      }
    }

    &__subtitle {
      font-size: 1.375rem;
      padding-top: 1rem;
    }

    &__text {
      font-size: 0.9375rem;
      padding-top: 0.625rem;
    }

    &__price {
      font-size: 1.125rem;
      padding-top: 1.25rem;
    }
  }
}

.view-button {
  margin-top: 6.25rem;

  @media screen and (max-width: 768px) {
    margin-top: 3.125rem;
  }
}
