.top-header {
  background-color: #393280;
  display: flex;
  justify-content: space-between;
  padding: 18px 62px;

  &__phone {
    display: flex;
    align-items: center;

    &-link {
      color: #fff;
      font-family: Inter;
      font-size: 22px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.44px;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #c0c0c0;
      }
    }

    &-icon {
      color: #fff;
      margin-right: 10px;
    }
  }

  &__social {
    display: flex;
    gap: 30px;

    &-icon {
      color: #fff;
      transition: color 0.3s ease;

      &:hover {
        color: #c0c0c0;
        cursor: pointer;
      }
    }
  }
}
