.footer-container {
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, rgba(255, 229, 229, 0.52) 0%, rgba(245, 255, 254, 0.52) 13.33%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 229, 0.52) 99.86%);
  padding: 2.5rem 3.75rem;

  &__information {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}

.footer-info {
  &__text {
    font-size: 1.125rem;
    color: #011627;
    padding-bottom: 0.9375rem;
  }

  &__social {
    display: flex;
    justify-content: space-between;

    &-icon {
      color: #ed553b;
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

.footer-menu {
  &__title {
    color: #ed553b;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 1.25rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    li {
      color: #263238;
      font-weight: 500;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }
}

.footer-news {
  &__article {
    display: flex;
    gap: 1.25rem;
    padding-bottom: 0.9375rem;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__article:last-child {
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.125rem;
    color: #ed553b;
    margin: 0;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: #011627;
  }

  &__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.625rem;
    letter-spacing: 0.06em;
    color: #f6d55c;
    margin: 0;
  }
}

.footer-author {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  color: #011627;
  padding-top: 1.25rem;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__important {
    color: #ed553b;
  }
}
