.middle-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.125rem 3.875rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0.625rem;
    left: 3.875rem;
    width: calc(100% - 7.75rem);
    height: 0.0625rem;
    background-color: #e0e0e0;
  }

  &__avatar {
    width: 5.375rem;
    height: 5.375rem;
    border-radius: 2.6875rem;
    background: #c4c4c4;
  }

  &__search {
    display: flex;
    align-items: center;
    width: 38.625rem;
    background-color: #f6f6f6;
    gap: 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    padding: 0.5rem;

    &-icon {
      color: #111;
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.875rem;
    }

    &-input {
      border: none;
      outline: none;
      background-color: #f6f6f6;
      flex-grow: 1;
      padding: 0.25rem 1.5rem;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.105rem;
      text-transform: capitalize;

      &::placeholder {
        color: #bcbcbc;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 2.1875rem;

    &-icon {
      color: #393280;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.105rem;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -1.09375rem;
        transform: translateY(-50%);
        height: 0.9375rem;
        width: 0.125rem;
        background: #d1d1d1;
      }
    }

    &-text {
      margin-left: 0.625rem;
    }

    &-icon:last-child::before {
      content: none;
    }
  }
}
