.catalog-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(44deg, #ffe5e5 0%, #f5fffe 100%);

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #393280;
    text-transform: uppercase;
  }

  & a {
    text-decoration: none;
  }
}
